.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#232526, #414345)
}

.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
  box-sizing: border-box;
  position: absolute;
}


.profile-card {
  background: #1e1e1e;
  border-radius: 16px;
  padding: 20px;
  width: 800px;
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-info {
  text-align: center;
  margin-top: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #d6d5e3;
}

.ign {
  font-style: italic;
  color: #bbb;
}

.games-section {
  margin-top: 50px;
  text-align: center;
}

.games-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.game-card {
  background: #1e1e1e;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.game-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.game-card h5 {
  margin: 15px 0 5px;
  font-size: 1.2rem;
  color: #fff;
}

.game-card p {
  margin: 0 0 15px;
  font-size: 1rem;
  color: #bbb;
}